nav {
	display: inline-block;
}

.html-logo {
	vertical-align: middle;
	margin-right: 87px;
}

header {
	margin: 50px;
}

li {
	display: inline-block;
	margin-right: 87px;
}

a {
	color: #8D81FF;
	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.main {
	color: #4E6FAE;
}


.container {
	width: 1440px;

	margin:0 auto ;
}

.my26 {
	width: 50px;
	height: 50px;
	background-color: #5012D5;
	color: #84FF81;
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 10px;
	margin-bottom: 20px;

}

.myh1 {
	font-family: "BPG Nino Mkhedruli", sans-serif;
	color: #8D81FF;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

}

.myh2 {
	font-family: "ALK Rex Bold", sans-serif;
	color: #4E6FAE;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 13px;
}

.codeimage {
	margin-right: 66px;
	vertical-align: top;

}
.myp {
	display: inline-block;
}

p {
	width: 778px;
 	margin-bottom: 20px;
 	font-family: "ALK Sanet", sans-serif;
 	color: #4E6FAE;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}


.my-h1{
	font-family: "ALK Sanet", sans-serif;
	color: #4E6FAE;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

}

.my-h2{
	font-family: "ALK Sanet", sans-serif;
	color: #4E6FAE;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.my-h3 {
	font-family: "ALK Sanet", sans-serif;
	color: #4E6FAE;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

/*აქ დავამთავრე 26 მაისის თემა*/



.my27 {
	width: 50px;
	height: 50px;
	background-color: #5012D5;
	color: #84FF81;
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 155px;

}

.myh-1 {
	font-family: "BPG Nino Mkhedruli", sans-serif;
	color: #8D81FF;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

}


.myh-2 {
	font-family: "ALK Rex Bold", sans-serif;
	color: #4E6FAE;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 13px;
}


.codeimg {
	vertical-align: top;
	margin-right: 66px;
}

.myp2 {
	display: inline-block;

}

.p1 {
	line-height: 120%;
}

/*აქ დავამთავრე 27 მაისის პრეზენტაცია*/


.my28 {
	width: 50px;
	height: 50px;
	background-color: #5012D5;
	color: #84FF81;
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 155px;
}


.my-h-1 {
	font-family: "BPG Nino Mkhedruli", sans-serif;
	color: #8D81FF;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}


.my-h-2 {
	font-family: "ALK Rex Bold", sans-serif;
	color: #4E6FAE;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 13px;
}

.computer {
	vertical-align: top;
	margin-right: 66px;
	margin-bottom: 140px;
}


.p2 {
	display: inline-block;
	line-height: 120%;
}


.myp2 {
	width: 778pxs;
}

.fb {
	margin-right: 41px;
	margin-left: 52px;
}

.line {
	margin-right: 41px;
}

/*სიახლეების გვერდის დაწყება*/

.container1 {
	width: 1155px;


	margin: 0 auto;

}


.htmlbanner {
	width: 1052px;
    height: 462px;
}


 .news {
 	margin-top: 120px;
 	color: #4E6FAE;
 	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: inline-block;
	margin-right: 20px;

 }

 .line {
 	display: inline-block;
 	margin-right: 20px;
 }

.news-h2 {
	display: inline-block;
	color: #4E6FAE;
	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
} 

.card-1-h1 {
	font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    color: #3F4145;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.card-1 {
	background-color: #E7E7E7;
	width: 500px;
    height: 192px;
    padding: 15px;
    margin-top: 26px;
    display: inline-block;
    margin-right: 52px;
}

.cardimg {
	margin-right: 40px;
	
}

.card-p {
	width: 335px;
    height: 95px;
    display: inline-block;
    color: #7E8898;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.card-2 {
	background-color: #E7E7E7;
	width: 500px;
    height: 192px;
    padding: 15px;
    margin-top: 26px;
    display: inline-block;
    vertical-align: top;
}

.card-2p {
	display: inline-block;
	width:  335px;
    height: 95px;
    color: #7E8898;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

}

.card-2h1 {
	font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    color: #3F4145;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

}


.footer1 {
	margin-left: 134px;
	margin-top: 93px;
}


.container2 {
	width: 1460px;
	margin: 0 auto;

}


.contact {
	width: 1460px;
    height: 735px;
	background-color: #E7E7E7;
	padding-top: 93px;

}

.contact-h1 {
	color: #4E6FAE;
	font-family: "Helvetica Neue";
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 27px;
	display: inline-block;
	vertical-align: top;
}



.contact-h {
	color: #3F4145;
	font-family: "Helvetica Neue LT GEO";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 12px;
	vertical-align: top;
}

span {
	color: #7E8898;
	font-family: "Helvetica Neue LT GEO";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}


.contacth {
	margin-left: 162px;

	vertical-align: top;
}



iframe {
	display: inline-block;
	vertical-align: top;
	margin-left: 620px

}

.footer2 {
	margin-top: 93px;

}